<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucucs.wxwork.mapper.WxWorkUserMapper">
  <resultMap id="BaseResultMap" type="com.ucucs.wxwork.model.WxWorkUser">
    <id column="user_id" jdbcType="VARCHAR" property="userId"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="english_name" jdbcType="VARCHAR" property="englishName"/>
    <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
    <result column="thumb_avatar" jdbcType="VARCHAR" property="thumbAvatar"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="alias" jdbcType="VARCHAR" property="alias"/>
    <result column="hide_mobile" jdbcType="INTEGER" property="hideMobile"/>
    <result column="open_userid" jdbcType="VARCHAR" property="openUserid"/>
    <result column="union_id" jdbcType="VARCHAR" property="unionId"/>
  </resultMap>
  <sql id="Base_Column_List">
    user_id, `name`, english_name, mobile, thumb_avatar, `status`, `alias`, hide_mobile,
    open_userid, union_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from wxwork_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete
    from wxwork_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ucucs.wxwork.model.WxWorkUser">
    insert into wxwork_user (user_id, `name`, english_name,
    mobile, thumb_avatar, `status`,
    `alias`, hide_mobile, open_userid,
    union_id)
    values (#{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR},
    #{mobile,jdbcType=VARCHAR}, #{thumbAvatar,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
    #{alias,jdbcType=VARCHAR}, #{hideMobile,jdbcType=INTEGER},
    #{openUserid,jdbcType=VARCHAR},
    #{unionId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ucucs.wxwork.model.WxWorkUser">
    insert into wxwork_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="englishName != null">
        english_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="thumbAvatar != null">
        thumb_avatar,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="alias != null">
        `alias`,
      </if>
      <if test="hideMobile != null">
        hide_mobile,
      </if>
      <if test="openUserid != null">
        open_userid,
      </if>
      <if test="unionId != null">
        union_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="thumbAvatar != null">
        #{thumbAvatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="hideMobile != null">
        #{hideMobile,jdbcType=INTEGER},
      </if>
      <if test="openUserid != null">
        #{openUserid,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null">
        #{unionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ucucs.wxwork.model.WxWorkUser">
    update wxwork_user
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="thumbAvatar != null">
        thumb_avatar = #{thumbAvatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="alias != null">
        `alias` = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="hideMobile != null">
        hide_mobile = #{hideMobile,jdbcType=INTEGER},
      </if>
      <if test="openUserid != null">
        open_userid = #{openUserid,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null">
        union_id = #{unionId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ucucs.wxwork.model.WxWorkUser">
    update wxwork_user
    set `name` = #{name,jdbcType=VARCHAR},
    english_name = #{englishName,jdbcType=VARCHAR},
    mobile = #{mobile,jdbcType=VARCHAR},
    thumb_avatar = #{thumbAvatar,jdbcType=VARCHAR},
    `status` = #{status,jdbcType=INTEGER},
    `alias` = #{alias,jdbcType=VARCHAR},
    hide_mobile = #{hideMobile,jdbcType=INTEGER},
    open_userid = #{openUserid,jdbcType=VARCHAR},
    union_id = #{unionId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>